$regular-font-color: #67666e;
$brand-color: #008489;
$darker-brand-color: #025b5e;

$regular-font-family: 'Montserrat', sans-serif;

$pc-size: 1440px;
$laptop-size: 960px;
$tablet-size: 720px;
$mobile-size: 540px;